<div class="card text-center w-50">
  <div class="card-header">
    <h2>Add New Friend </h2>
  </div>
  <div class="card-body">
    <%= render "form", friend_rec: @friend_rec %>  
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Back", friend_recs_path ,class:"btn btn-dark"%>
  </div>
</div>
