<h2>Stores your friends details</h2>
<br>
<p>You just have to create your own account in this app and you can go on saving your friends details</p>
<br>
<p>No one can see your friends details without your sign in credentials</p>